<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="{% static '/css/details.css' %}">

     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
{% load static %} 

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <label  id="mm"><center><strong><b>Message:</strong>{{ message }}</b></center></label>
    
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <div class="container">
        <header>Request to Hospital</header>

        <form action="/hosreq"  method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="form first">
                <div class="details personal">
                

                    <div class="fields">
                  
                        <div class="user-box">
                            <label>Hospital name</label>
                            <input type="text" name="hosusername" id="hosusername" disabled>
                          </div>

                        <div class="input-field">
                            <label>Select_category</label>
                            <select id="requesth" name="requesth" >
                                <option  disabled selected>Select Category of organ/blood</option>
                                <option>Blood</option>
                                <option>Kidney</option>
                                <option>Liver</option>
                                <option>Lungs</option>
                                <option>Eye</option>
                            </select>


                        </div>

                    
                        <button class="sumbit" onclick="setHospitalName(event)">
                            <span class="btnText">REQUEST</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                </div> 
            </div>
        </div>
    </div> 
</div>
</form>
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</div>

</body>
<script>
  // Retrieve the username from the URL parameter
  const urlParams = new URLSearchParams(window.location.search);
  const hosusername = urlParams.get('hosusername');

  // Set the username as the value of the disabled input field
  document.getElementById('hosusername').value = hosusername;
</script>
</html>
</div>
</body>
</html>