<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="{% static '/css/details.css' %}">

     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
{% load static %} 

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <label  id="mm"><center><strong><b>Message:</strong>{{ message }}</b></center></label>
    
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <div class="container">
        <header>iDonate  Registration</header>

        <form action="/rdetail"  method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="form first">
                

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" id="fname" name="fname" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" id="rdob" name="rdob" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" id="remail" name="remail" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" id="rmobno" name="rmobno" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select id="rge" name="rge" required>
                                <option  disabled selected>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Age</label>
                            <input type="number" id="rage" name="rage" placeholder="Enter Your Age" required>
                        </div>

                        <div class="input-field">
                            <label>Blood Group</label>
                            <select id="rbg" name="rbg" required>
                                <option  disabled selected>Blood Group</option>
                                <option>A+</option>
                                <option>B+</option>
                                <option>AB+</option>
                                <option>O+</option>
                                <option>A-</option>
                                <option>B-</option>
                                <option>AB-</option>
                                <option>O-</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" id="raddress" name="raddress" placeholder="Enter your Address" required>
                        </div>
                    
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text"  id="roccupation" name="roccupation" placeholder="Enter your occupation" required>
                        </div>

            
                        <div class="input-field">
                            <label for="rweight">Enter Your Weight</label>
                            <input type="number" id="rweight" name="rweight" placeholder="Enter your Weight" required min="50" max="200">
                        </div>
                        
                        <div class="input-field">
                            <label for="rheight">Enter Your Height</label>
                            <input type="number" id="rheight" name="rheight" placeholder="Enter your Height" required min="140" max="300">
                        </div>

                        <div class="input-field">
                            <label>Allergic/Not ?</label>
                            <select id="ran" name="ran" required>
                                <option  disabled selected>Allergic/Not ?</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Taking Medicine Regularly ?</label>
                            <select id="rtmr" name="rtmr" required>
                                <option  disabled selected>Taking Medicine Regularly</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>


                        </div>

                        <div class="input-field">
                            <label>Lastly Received Date</label>
                            <input type="date" id="rlrd" name="rlrd" placeholder="Enter the date" required>
                        </div>


                        <div class="input-field">
                            <label>Received Blood/Organ</label>
                            <select id="rdbo" name="rdbo" required>
                                <option  disabled selected>Received Blood/Organ</option>
                                <option>Blood</option>
                                <option>Kidney</option>
                                <option>Liver</option>
                                {% comment %} <option>Lungs</option>
                                <option>Heart</option>
                                <option>Pancreas</option>
                                <option>Intestine</option> {% endcomment %}
                                <option>Eye</option>
                            </select>


                        </div>

                <!--
                <div class="details ID">
                    <span class="title">Identity Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>ID Type</label>
                            <select id="idtype" name="idtype" required>
                                <option  disabled selected>Select ID Type</option>
                                <option>Aadhar</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" id="idno"  name="idno" placeholder="Enter ID number" required>
                        </div>
                        --> 

                        
                        
                        <div class="card-box">
                            <label>Image</label>
                            <input type="file" id="rimage" name="rimage" placeholder="Upload your Image" required>
                        </div>
                        <button class="sumbit">
                            <span class="btnText">NEXT</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <button onclick="goBack()">Go Back</button>

                        <script>
                        function goBack() {
                          window.history.back();
                        }
                        </script>
                </div>
            
            
        </div>
    </div> 
</div>
</form>
</div>
</body>

<script>
    // Get the date of birth input element
    const dobInput = document.getElementById('rdob');
    
    // Add an event listener to the input element
    dobInput.addEventListener('change', function() {
        // Get the selected date
        const selectedDate = new Date(this.value);
        
        // Get today's date
        const today = new Date();
        
        // Calculate the age difference in years
        const ageDifference = today.getFullYear() - selectedDate.getFullYear();
        
        // Compare the age difference with the minimum required age
        if (ageDifference < 18) {
            // Clear the input value and display an error message
            this.value = '';
            alert('You must be at least 18 years old.');
        }
    });
    
    const weightInput = document.getElementById('rweight');
        const heightInput = document.getElementById('rheight');
    
        weightInput.addEventListener('input', function() {
            const rweight = parseFloat(this.value);
            const minWeight = parseFloat(this.min);
            const maxWeight = parseFloat(this.max);
    
            if (rweight < minWeight || rweight > maxWeight) {
                alert('Weight should be between ' + minWeight + ' and ' + maxWeight + '.');
            }
        });
    
        heightInput.addEventListener('input', function() {
            const rheight = parseFloat(this.value);
            const minHeight = parseFloat(this.min);
            const maxHeight = parseFloat(this.max);
    
            if (rheight < minHeight || rheight > maxHeight) {
                alert('Height should be between ' + minHeight + ' and ' + maxHeight + '.');
            }
        });
    
    
    
    </script>
</html>